body {
    background: url("../src/assets/bg-light-mode.jpeg") no-repeat center
        center fixed;
    background-color: #eee;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: -1;
}

body.dark-mode {
    background: url("../src/assets/bg-dark-mode.jpeg") no-repeat center
        center fixed;
    background-color: #121212;
    background-size: cover;
}

.icon-btn {
    background-color: transparent;
    border: none; 
}

.icon {
    color: #fd7e14;
}