.login-page {
    background-color: transparent;
    min-height: 90vh;
    transition: background-color 0.5s ease;
}

.navbar-login{
    background-color: #fd7e14;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.dark-bg-login {
    width: 100%;
    max-width: 380px;
    border-radius: 16px;
    transition:
        background-color 0.5s ease,
        color 0.5s ease;
    background-color: rgba(68, 68, 68, 0.95);
    border: 2px solid white;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.05);
    color: white;
}

.light-bg-login {
    width: 100%;
    max-width: 380px;
    border-radius: 16px;
    transition:
        background-color 0.5s ease,
        color 0.5s ease;
    background-color: rgba(255, 245, 235, 0.922);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-login {
    background-color: #fd7e14 !important;
    color: white !important;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #e76f11;
}

/* Register link style */
.link-register {
    color: #fd7e14;
    text-decoration: none;
}

.link-register:hover {
    text-decoration: underline;
}

body.dark-mode .login-card {
    background-color: #1f1f1f;
    color: #f1f1f1;
    border: 2px solid white;
}

body.dark-mode .form-control {
    background-color: #2e2e2e;
    color: #f1f1f1;
    border: 1px solid #444;
}

body.dark-mode .btn-login {
    background-color: #fd7e14;
}

body.dark-mode .link-register {
    color: #fd7e14;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-in {
    animation: appear 1s linear;
}

input.form-control {
    background-color: transparent;
    color: inherit;
    transition: background-color 0.3s ease;
}

input.form-control:hover {
    background-color: #fff;
    border: 1px solid #fd7e14;
}

input.form-control:focus {
    background-color: #fff;
    border: 1px solid #fd7e14;
    border-color: #e76f11;
    outline: none;
    box-shadow: 0 0 0 0.15rem rgba(253, 126, 20, 0.25);
}
