.home-container {
    padding: 30px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.container-home{
    padding: 0px 20px;
    padding-bottom: 20px;
    background: transparent;
}

.card-animate {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-animate:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}