.card-bg {
  background-color: transparent;
  border-radius: 10px;
  border: none;
  box-shadow: none;
}

.dark-card-bg {
  background-color: rgba(59, 59, 59, 0.674);
  border-radius: 10px;
  box-shadow: none;
  color: #fff;
}

.form-control {
  border-radius: 8px;
  transition: all 0.3s ease;
}

.form-control:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
  border-color: #007bff;
}

.btn-success {
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
}

.btn-success:hover {
  background-color: #218838;
  transition: 0.3s ease;
}

.table th, .table td {
  vertical-align: middle;
}

.table td:last-child {
  white-space: nowrap;
}

.alert-warning {
  border-radius: 10px;
  font-size: 1.1rem;
}

.dark-mode select {
  background-color: #2e2e2e;
  border: none;
  color: white;
}
