.card-bg {
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: none;
}

.dark-card-bg {
    background-color: rgba(59, 59, 59, 0.674);
    border-radius: 10px;
    box-shadow: none;
    color: #fff;
}

.form-control {
    border-radius: 8px;
    transition: all 0.3s ease;
}

.form-control:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
    border-color: #007bff;
}

.btn-submit {
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #fd7e14;
    color: white;
    border: none;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.2s ease;
}

.btn-submit:hover {
    background-color: #fd7e14;
    box-shadow: 0 6px 12px rgba(253, 126, 20, 0.4);
    transform: translateY(-2px);
    color: white;
}

.btn-submit:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(253, 126, 20, 0.2);
}

.btn-submit:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(253, 126, 20, 0.5);
}

.table th,
.table td {
    vertical-align: middle;
}

.table td:last-child {
    white-space: nowrap;
}

.alert-warning {
    border-radius: 10px;
    font-size: 1.1rem;
}

select.form-select,
option {
    background-color: transparent;
    color: #212529;
}

select.form-select:hover,
select.form-select:focus {
    border: 1px solid #fd7e14;
    background-color: #ffffff;
}

select.form-select:focus {
    box-shadow: 0 0 0 0.15rem rgba(253, 126, 20, 0.25);
}

body.dark-mode select.form-select,
body.dark-mode option {
    background-color: #2e2e2e;
    color: #f1f1f1;
    border: 1px solid #444;
    border-radius: 8px;
}

body.dark-mode select.form-control:hover,
body.dark-mode select.form-control:focus {
    border: 1px solid #fd7e14;
    background-color: #1c1c1c;
}
